.rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.star {
    cursor: pointer;
    font-size: 20px;
    color: gray;
}

.star.selected {
    color: gold;
}

.comment-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 10px;
}