body {
  background: white;
}

@keyframes slide-reverse {
  from {
    transform: translateX(-40%); /* Start off-screen to the left */
  }
  to {
    transform: translateX(60%); /* Move all the way to the right, off-screen */
  }
}

.logos-reverse {
  overflow: hidden;
  margin: 3.5rem 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos-reverse:before,
.logos-reverse:after {
  position: absolute;
  top: 0;
  height: 100%;
  content: "";
  z-index: -2;
}

.logos-reverse:before {
  left: -100%; /* Start the gradient from the left side */
  background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
}

.logos-reverse:after {
  right: -100%; /* Ensure the right side is also covered */
  background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
}

.logos-reverse:hover .logos-slide-reverse {
  animation-play-state: paused;
}

.logos-slide-reverse {
  -webkit-filter: drop-shadow(2px 1px 0 black)
                  drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(2px 1px 0 black) 
          drop-shadow(-1px -1px 0 black);
  display: inline-block;
  animation: 400s slide-reverse linear infinite;
}

.logos-slide-reverse img {
  height: 300px;
  width: 300px;
  margin: 0 20px;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
  filter: grayscale(0);
}

.logos-slide-reverse img:hover {
  cursor: pointer;
  transform: scale(1.3);
  filter: grayscale(0);
  border: 0.1rem solid black; /* Maintain the same border on hover */
}

.logos-slide-reverse:hover img {
  filter: grayscale(1);
  border: 0.1rem solid black; /* Maintain the same border on hover */
}

.logos-slide-reverse:hover img:hover {
  filter: grayscale(0);
  border: 0.1rem solid black; /* Maintain the same border on hover */
}

.logos-reverse img {
  border: 0.1rem solid black; /* Adjust the border width and color as needed */
  box-sizing: border-box; /* Ensure the border is included in the element's total width and height */
}