body {
  background: white;
}

@keyframes slide {
  from {
    transform: translateX(0%); /* Start off-screen to the left */
  }
  to {
    transform: translateX(-100%); /* Move all the way to the right, off-screen */
  }
}

.logos {
  overflow: hidden;
  margin: 3.5rem 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  height: 100%;
  content: "";
  z-index: -2;
}

.logos:before {
  left: -100%; /* Start the gradient from the left side */
  background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
}

.logos:after {
  right: -100%; /* Ensure the right side is also covered */
  background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 400s slide linear infinite;
}

.logos-slide img {
  height: 300px;
  width: 300px;
  margin: 0 20px;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
  filter: grayscale(0);
}

.logos-slide img:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: grayscale(0);
}

.logos-slide:hover img {
  filter: grayscale(1);
}

.logos-slide:hover img:hover {
  filter: grayscale(0);
}

.logos img {
  border: 0.01em solid black; /* Adjust the border width and color as needed */
  box-sizing: border-box; /* Ensure the border is included in the element's total width and height */
}

