@font-face {
  font-family: 'chisato';
  src: url('../assets/fonts/chisato/chisato.ttf') format('truetype');
}
@font-face {
  font-family: 'Atma';
  src: url("../assets/fonts/atma/Atma-Light.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.heroImg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.heroBanner {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.heroText {
  font-family: chisato;
  position: absolute;
  color: black;
  font-size: 10rem;
  font-weight: bold;
  text-align: center;
  transition: font-size 0.4s ease, transform 0.4s ease;
}
.heroText.scrolled {
  top: 0;
  font-size: 1rem;
}

.slogan {
  font-family: Atma;
  font-size: 1rem;
  font-weight: 100;
  font-style: normal;
  position: absolute;
  color: black;
  text-align: center;
  top: 35rem;
  transition: font-size 0.4s ease, transform 0.4s ease;
}

.slogan.scrolled {
  top: 0;
  font-size: 0.2rem;
  opacity: 0; /* Fully hidden when scrolled */
}