@font-face {
    font-family: 'quicksand';
    src: url('../src/assets/fonts/quicksand/quicksand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'chisato';
    src: url('../src/assets/fonts/chisato/chisato.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
      font-family: 'prata-regular';
      src: url('../src/assets/fonts/prata/Prata-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

.body{
    background-color: white;
}

  